/* font button, language button */
.font_size, a[id^='lang_'] {
	color: inherit;
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle;
	font-family: Arial;
	text-align: center;
	width: 2em;
	height: 2em;
	line-height: 2em;
	background-color: rgba(0,0,0,0.05);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
a[id^='lang_']:hover, a[id^='lang_']:focus, .font_size:hover, .font_size:focus {
	background-color: rgba(0,0,0,0.2);
	color: inherit;
}
/* search form */
.search-form > p {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(255,255,255,0.3);
}
.search-form > p > label {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	width: auto !important;
}
.search-form [type="text"] {
	display: block;
	width: 100%;
}
.search-form input,
.search-form button {
	color: inherit;
	background-color: transparent;
	border-style: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	line-height: 1.5;
}
.search-form button:before {
	margin: 0;
	font-size: 1.5em;
}
/* Widget */
.widget {
	margin-bottom: 10px;
}
#counter-box {
	display: table;
	width: 100%;
}
.counter-detail {
	display: table-row;
}
.counter-detail > span {
	display: table-cell;
	text-align: center;
	padding: 5px;
}
.counter-detail > .col {
	text-align: left;
}
/* Login Form */
.login p {
	padding: 2px 5px;
	margin: 0;
}
.login #usericon {
	width: 50px;
}
.login .error {
	padding: 5px 0;
}
.login .subtitle {
	font-size: 0.9em;
}
#login-box {
	padding-bottom: 3px;
}
/* member form */
.member_section {
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.5) inset;
	background-color: #F9F9F9;
	border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
	padding: 0 10px;
}
img.thumbnail,
img#usericon {
	max-width: 50px;
	max-height: 50px;
}
/* comment */
.post-detail {
	position: relative;
}
#comment-list .post-author {
	float: left;
	width: 70px;
	text-align: center;
}
#comment-list .post-detail {
	margin-left: 80px;
}
footer.reaction {
	margin-top: 10px;
	padding: 5px;
}
.content-action > a,
footer.reaction > * {
	margin-left: 5px;
}
.content-action > a:first-child,
footer.reaction > :first-child {
	margin-left: 0;
}
.content-action {
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05);
	font-size: 1.5em;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0.3;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.content-action:hover {
	opacity: 1;
}
.content-action > a:hover {
	text-decoration: none;
}
header.list h2 {
	display: table;
	width: 100%;
}
header.list h2 > * {
	display: table-cell;
	vertical-align: middle;
}
header.list .newtopic {
	text-align: right;
}
/* webbaord */
#board-list .col1 {
	width: 42px;
	vertical-align: top;
	padding-top: 1em;
}
#board-list .col2 {
	max-width: 15em;
}
#board-list .topic,
#board-list .col4 > a,
#board-list .col4 > span {
	display: block;
}
#board-list .col4 {
	max-width: 6em;
	text-align: center;
}
/* phone, tablet */
@media only screen and (max-width: 768px) {
	body.responsive #board-list .col2 {
		max-width: 10em;
	}
}